.nav-container {
    position: absolute;
    position: sticky;
    top: 0px;
    max-width: 100%;
    z-index: 100;
    margin-left: 5em;
    margin-right: 11em;
    padding: 1em;

}

.logo-containr {
    display: flex;
    flex-direction: row;
}

.logo-containr img {
    width: 12%;
    position: relative;
    bottom: 6px;
}

.logo-containr h1 {
    /* margin-left: 3em; */
    transition: all .2s ease-in;
}

ul,
.auth-container,
.nav-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
    color: rgb(0, 0, 0);
    width: 6em;
    padding: 0.4em 0;
    text-align: center;
    font-size: 18px;
    /* font-family: 'Arbutus Slab', serif;
    font-weight: 500; */
    font-family: Roboto, sans-serif;
    transition: all 0.6s ease 0s;
    margin: 0.2em;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.mood {
    font-size: 30px;
    margin-top: 0em;
}




nav>.nav-toggle {
    display: none;
}


.nav-options-container {
    display: flex;
    flex-direction: row;
}

.responsive-div {
    width: 500px;
}

@media (max-width:1800px) {
    .responsive-div {
        width: 200px;
    }
}

@media (max-width:1500px) {
    .responsive-div {
        width: 180px;
    }
}

@media (max-width:1400px) {
    .responsive-div {
        width: 140px;
    }
}

@media (max-width:1300px) {
    .responsive-div {
        width: 100px;
    }
}

@media (max-width:1200px) {
    .responsive-div {
        width: 50px;
    }
}

@media (max-width:1100px) {
    .responsive-div {
        width: 20px;
    }
}


@media (max-width:1000px) {

    nav li {
        width: 5em;
        font-size: 15px;

    }


}

@media (max-width:840px) {
    .ClassForResponsive {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 100px;
        display: flex;
        align-items: center;
        align-content: space-around;
        flex-direction: column;
        /* background-color: #f5f5f5; */
        left: 0;
        opacity: 95%;
        transform: translateX(-100%);
        transition: all .45s;
        z-index: 100;
    }

    .ClassForResponsive.open {
        transform: translateY(0);
    }

    .auth {
        margin-left: 0em;
    }

    .nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle>.bar {
        position: relative;

        width: 32px;
        height: 2px;
        background: #000000;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle>.bar::before,
    .nav-toggle>.bar::after {
        content: "";
        position: absolute;
        display: flex;
        /* bottom: 1em; */
        height: 2px;
        background: #000000;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle>.bar::before {
        display: flex;
        width: 32px;
        transform: translateY(-8px);

    }

    .nav-toggle>.bar::after {
        display: flex;
        width: 32px;
        transform: translateY(8px);
    }

    .nav-toggle.open>.bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open>.bar::before {

        width: 30px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-toggle.open>.bar::after {

        transform: rotate(-45deg) translate(26px, 26px);
    }

    .nav-options-container {
        width: 5em;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
}

@media(max-width:500px) {
    /* .logo-containr h1 {
        position: relative;
        right: 5em;
        font-size: 1em;
        transition: all .2s ease-in;
    } */
}